body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
  color: #fff;
}
.min-h-screen { min-height: 100vh; }
.flex { display: flex; }
.flex-col { flex-direction: column; }
.items-center { align-items: center; }
.justify-center { justify-content: center; }
.text-purple-400 { color: #c084fc; }
.bg-purple-600 { background: #7c3aed; }
.rounded-xl { border-radius: 12px; }
.login-bg {
  background: linear-gradient(135deg, #2e1065, #000, #1e1b4b);
}
.login-card {
  width: 400px;
  padding: 2rem;
  border-radius: 20px;
  background: rgba(0,0,0,0.75);
  border: 1px solid #9333ea;
}
input {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  background: #111;
  border: 1px solid #9333ea;
  color: #fff;
  border-radius: 10px;
}
button {
  cursor: pointer;
  border: none;
}

.nav:hover::before {
  animation: navShine 0.75s ease forwards;
}